div{
  background-color: #334d4d;
  margin: 50px;
  width: 350px;
  height: 525px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 5px 2px 1px rgba(0, 0, 0, .4)
}

header{
  background-color: #d1e0e0;
  width: 330px;
  height: 100px;
  border-radius: 20px;
  margin: 0 auto;
  font-size: xx-large;
  color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

table{
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
}

td{
  width: 110px;
  height: 60px;
  text-align: center;
  font-size: xx-large;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.orange{
  color: #ff3300;
}

td:active{
  background-color: #e0e0d1;
  border-radius: 20px;
}
